@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Brazil<br />
    São Paulo, SP<br />
    Phone: + 55 11 95132-8118
</address>

<h5>@ViewData["SocialMidias"]</h5>

<address>
    <strong>Facebook: </strong> <a href="https://web.facebook.com/tiago.brito.94801">@ViewData["Facebook"]</a><br />
    <strong>Instagram: </strong> <a href="https://www.instagram.com/tiago_brievan/?hl=pt-br">@ViewData["Instagram"]</a>
</address>

<address>
    <strong>Support:</strong> <a href="tiago.brito.evangelista@outlook.com">tiago.brito.evangelista@outlook.com</a><br />
    <strong>Academy mail:</strong> <a href="tiago.evangelista2@fatec.sp.gov.br">tiago.evangelista2@fatec.sp.gov.br</a>
</address>
